/* NAVBAR GENERAL */
.navbar {
  padding: 30px 60px; /* Aumenta el padding lateral */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: linear-gradient(90deg, #000000, #000000);
  border-bottom: 3px solid white;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
}

/* LOGO */
.navbar-logo .logo {
  height: 150px;
  width: auto;
}

/* ENLACES */
.navbar-links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 5px 10px;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
}

.navbar-links a.active {
  color: #a0dfe7;
  border-bottom: 2px solid #a0dfe7;
}

.navbar-links a:hover {
  color: #f6feff;
  border-bottom: 2px solid #f6feff;
}

/* ICONOS */
.icon-container {
  display: flex;
  gap: 15px;
  align-items: center;
}

.pi {
  font-size: 1.5rem;
  color: gray;
  transition: color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.pi:hover {
  color: white;
  transform: scale(1.1);
}

/* MENSAJE BIENVENIDA */
.welcome-msg {
  background-color: #4e7e94;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: inline-block;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-right: 10px;
  cursor: default; /* El puntero NO cambia */
}

.welcome-msg:hover {
  background-color: #00a0b0;
  transform: scale(1.05);
}

/* GRUPOS CON SEPARACIÓN */
.navbar-login {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.navbar-actions {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

/* BOTONES ADMIN, INICIAR SESIÓN Y CERRAR SESIÓN */
::ng-deep .custom-login-button.p-button {
  background-color: #1a6385 !important;
  color: white !important;
  border: none !important;
  font-weight: 600;
  font-size: 18px;
  padding: 6px 14px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

::ng-deep .custom-login-button.p-button:hover {
  background-color: #00a0b0 !important;
  transform: scale(1.05);
  color: white !important;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
  }

  .navbar-links {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .navbar-links a {
    font-size: 18px;
  }

  .navbar-actions {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
  }

  .navbar-login {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .welcome-msg {
    font-size: 14px;
    padding: 6px 12px;
  }
}
