<nav class="navbar">
    <div class="navbar-logo">
        <img src="logo.png" alt="Logo" class="logo">
    </div>

    <div class="navbar-links">
        <a routerLink="/" routerLinkActive="active">Inicio</a>
        <a routerLink="/museos" routerLinkActive="active">Museos</a>
        <a routerLink="/exposiciones" routerLinkActive="active">Exposiciones</a>
        <a routerLink="/mapa" routerLinkActive="active">Mapa</a>
    </div>



    <!-- Íconos sin fondo cuadrado -->
    <div class="icon-container">
        <i class="pi pi-search"></i>
        <i class="pi pi-shopping-cart"></i>
    </div>

 
  
<!-- Botón de login -->
<div class="navbar-login">
    <a routerLink="/login" routerLinkActive="active" class="btn-login">
        Login
    </a>
</div>
</nav>


        


  
