<nav class="navbar">
  <!-- Logo -->
  <div class="navbar-logo">
    <img src="logo.png" alt="Logo" class="logo" />
  </div>

  <!-- Enlaces -->
  <div class="navbar-links" *ngIf="!usuario || usuario.rol !== 'ADMIN'">
  <a pRipple routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
<a pRipple routerLink="/museos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Museos</a>
<a pRipple routerLink="/contacto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contacto</a>
<a pRipple routerLink="/mis-entradas" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Mis Entradas</a>
  </div>

  <!-- Enlaces de administrador -->
  <div class="navbar-admin-links" *ngIf="usuario && usuario.rol === 'ADMIN'">
    <a pRipple routerLink="/admin/museos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Museos</a>
    <a pRipple routerLink="/admin/exposiciones" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Exposiciones</a>
    <a pRipple routerLink="/admin/entradas" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Entradas</a>
</div>

    <!-- Área de usuario / login -->
    <div class="navbar-login flex align-items-center gap-3">
      <ng-container *ngIf="usuario; else loginLink">
        <span class="welcome-msg" *ngIf="usuario.rol !== 'ADMIN'">
          Bienvenido/a, {{ usuario.nombre }}
        </span>

        <button *ngIf="usuario.rol === 'ADMIN'" pButton label="Admin" icon="pi pi-cog"
          class="p-button-sm custom-login-button" (click)="navigateToAdminDashboard()"></button>

        <button pButton class="p-button-sm custom-login-button" (click)="logout()">
          Cerrar Sesión
        </button>
      </ng-container>

      <ng-template #loginLink>
        <a pButton routerLink="/login" class="p-button-sm custom-login-button" style="text-decoration: none">
          Iniciar Sesión
        </a>
      </ng-template>
    </div>
 
</nav>