<!-- admin-panel.component.html -->
<h1>Panel de Administración</h1>

<div>
  <h2>Gestionar Museos</h2>
  <button>Agregar Museo</button>
  <button>Editar Museos</button>
  <button>Eliminar Museo</button>
</div>

<div>
  <h2>Gestionar Exposiciones</h2>
  <button>Agregar Exposición</button>
  <button>Editar Exposiciones</button>
  <button>Eliminar Exposición</button>
</div>

<div>
  <h2>Gestionar Usuarios</h2>
  <button>Agregar Usuario</button>
  <button>Editar Usuarios</button>
  <button>Eliminar Usuario</button>
</div>


