<div class="exposiciones p-8">
    
    <h2 class="nombre-museo text-3xl font-bold mb-4 text-center">
    Exposiciones: {{ nombreMuseo }}
  </h2>

  <div *ngIf="exposiciones.length > 0; else sinExposiciones" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <p-card *ngFor="let expo of exposiciones" class="shadow-md">
      <ng-template pTemplate="header">
        <p-image [src]="expo.imagen" [alt]="expo.nombre" styleClass="w-full h-48 object-cover" preview></p-image>
      </ng-template>

      <ng-template pTemplate="title">
        {{ expo.nombre }}
      </ng-template>

      <ng-template pTemplate="subtitle">
        {{ expo.fechaInicio | date:'dd/MM/yyyy' }} - {{ expo.fechaFin | date:'dd/MM/yyyy' }}
      </ng-template>

      <ng-template pTemplate="content">
        <p>{{ expo.descripcion }}</p>
      </ng-template>
      <ng-template pTemplate="content">
  <p>{{ expo.descripcion }}</p>
  <p class="mt-2 font-semibold">Precio: €{{ expo.precio | number:'1.2-2' }}</p>
</ng-template>

      
    </p-card>
  </div>

  <ng-template #sinExposiciones>
    <p class="text-gray-600">Este museo no tiene exposiciones actualmente.</p>
  </ng-template>
</div>
